body {
    font-family: 'Dancing Script', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #111211;
    color: #fff;
    padding: 30px 0;
    text-align: center;
    border-bottom: 2px solid #fff;
}

header img {
    border-radius: 50%;
    max-width: 150px;
    border: 4px solid #fff;
}

.header-content {
    margin-top: 20px;
}

section {
    margin: 40px 0;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease-in-out;
}

section:hover {
    transform: scale(1.05);
}

h1, h2, h3 {
    font-family: 'Pacifico', cursive;
    color: #4CAF50;
}

p {
    font-family: 'Playpen Sans', cursive;
    color: #ddd;
}

/*.footer-text {
    font-family: 'Whisper', cursive;
    font-size: 14px; /* Adjust the font size as needed 
}

footer {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 8px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}*/


@media only screen and (max-width: 600px) {
    .footer-text {
        font-size: 12px; /* Adjust the font size for smaller viewports */
    }
}
